@skyblue: #38c3f5;

.margenes(@top, @bottom){
  margin-top: @top;
  margin-bottom: @bottom; 
}

.jumbotron {
  background-color: @skyblue;
  color: black;
  .margenes(50px, 0px);
}

footer {
  padding: 10px 10px 0 10px;
  background-color: @skyblue;
  .margenes(50px, 0px);
}  

.card-hotel {
	flex: 1 150px;
	.margenes(50px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}