$skyblue: #38c3f5;

@mixin margenes($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;	
}

.jumbotron {
  background-color: $skyblue;
  color: black;
  @include margenes(50px, 0px);
}

footer {
  padding: 10px 10px 0 10px;
  background-color: $skyblue;
  @include margenes(10px, 0px);
}  

.card-hotel {
	flex: 1 150px;
	@include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}